<div class="d-flex gap-3 border border-2 rounded rounded-2 mb-3 p-3 align-items-center">
	<div>
		<span><%= link_to recipe.name, recipe %></span>
	</div>
	<div>
		<span><%= recipe.description %></span>
	</div>
</div>